
<div class="bg-blue bg-job">

</div>

<div class="mini-card">
        <h3><i class="far fa-money-bill-alt"></i> Salaire</h3>
        <ul>
          <li>Junior : 30-35K</li>
          <li>Confirmé : 35k-50K</li>
          <li>Senior: 45k-90k</li>
        </ul>

        <h3><i class="fas fa-magic"></i></i> Softs skills</h3>
        <ul>
          <li>Patience</li>
          <li>Créativité</li>
          <li>Imagination</li>
        </ul>
        <h3><i class="fas fa-venus-mars"></i> Études conseillées</h3>
        <ul>
          <li>École de design ou d'ingénieurie</li>
        </ul>
      </div>



<div class="container job-container">
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="card-job-show">
          <h1 class="h1-ig"><%= @job.name %></h1>
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/DTJSASD8VHk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



        </div>
<p style="margin-top:20px;"><%= @job.description %></p>

      </div>
      <div class="col-12 col-md-10">
        <div class="card-job-show">
        <h2>Les écoles conseillées :</h2>
           <div class="barre-recherche">

          <%= form_tag job_path, method: :get, class: "form-inline" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a school" %>
            <%= submit_tag 'Find', class: "btn" %>
          <% end %>
        <div
        id="map"
        style="    width: 100%;
    height: 50vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>"></div>

</div>
</div>



    <div class="row">

      <div class="col-12 col-md-8 d-flex justify-content-center">


      </div>

</div></div>

