<div class="margin-title">
<div class="container">
  <h1><%= @job.name %></h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card-job-show">
          <p><%= @job.description %></p>

        </div>

      <iframe width="100%" height="300px" src="https://www.youtube.com/embed/DTJSASD8VHk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-12 col-md-6">
        <div class="barre-recherche">

          <%= form_tag job_path, method: :get, class: "form-inline" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a school" %>
            <%= submit_tag 'Find', class: "btn" %>
          <% end %>

        </div>
        <div
        id="map"
        style="width: 600px;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
        </div>
    </div>

  </div>
</div>
</div>
