
<div class="container">
  <div class="m-h1">
    <h1>Joue et découvre le code :</h1>
  </div>
  <div class="fh">
    <div class="row">
      <% @games.each do |game| %>
        <%= link_to game_path(game) do  %>
        <div class="col-12 col-md-6">
          <div class="big-card">
            <div class="logo"></div>
            <div class="content">
              <h2><%= image_tag game.game_type_image, alt: "game_type", class: "gametype" %><%= game.name %> <%= image_tag game.logo, alt: "logo", class: "gametype" %></h2>
              <%= game.short_description %>
            </div>
          </div>
        <% end %>
        </div>
    <% end %>
    </div>
  </div>
</div>
